.main{
  background-color: rgb(0, 0, 0);
  height: 4.5rem;
  text-align: left;
  color: rgb(165, 160, 160);
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  font-family: sans-serif;
  font-size: 18px;
}
.gener{
  margin-left: 20px;
  cursor: pointer;
}
.gener:hover{
  border-bottom: 2px solid white;
}
.select{
  font-weight: bold;
  color: white;
  /* font-size: 20px; */
}