.s{
    height:274px;
    width:275px;
    border:2px solid rgb(83, 76, 76);
    background-color: rgb(83, 76,76);
    color: white;
    overflow-y: hidden;
    padding: 10px;
    margin: 10px;
}
.div1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}